@charset "UTF-8";
/*
? Цвета:
    header: #313131 (серый)
    bgc: #f1f3f9 (серо-синий)
    Акцент/hover кнопки: #ff6c00 (оранжевый) 
    кнопка active: #e25e00 (оранжевый темнее)
    Шрифт: #7d7f9e (серо-фиолетовый)
    доп инфа: #bfccde (светло-серый)
    Кнопки / тайтл: #4065e4 (синий)
? Шрифт:
    DESKTOP: 
        h1: 42px+
        h2: 38px
        h3: 25px
        body text: ~18px
        nav links: ~16px
        inputs: ~18px
        secondary text: ~16px
    MOBILE: 
        -2 from all above
*/
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
html {
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  color: #5a5b72;
}

/*color variables*/
/*templates*/
.pokemon-card .pokemon-card__image-block .pokemon-card__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  background-color: #8191e6;
  color: #7d7f9e;
}

body .site {
  padding: 0 20% 0;
  min-height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px auto;
      grid-template-columns: 300px auto;
  -ms-grid-rows: 50px auto 50px;
      grid-template-rows: 50px auto 50px;
      grid-template-areas: 'header header' 'card list' 'footer footer';
}

.hidden {
  position: absolute;
  opacity: 0;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
  height: 50px;
  border-radius: 0 0 20px 20px;
  background-color: #00d084;
}

.pokemon-card {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: card;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 270px;
  height: 525px;
  margin: 15px 0;
  padding: 5px 20px;
  background-color: #fff;
  border: solid #fd0;
  border-width: 20px 15px;
  border-radius: 20px;
}

.pokemon-card .pokemon-card__title-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 5px;
}

.pokemon-card .pokemon-card__title-block .pokemon-card__name, .pokemon-card .pokemon-card__title-block .pokemon-card__element {
  width: 70%;
  color: #313131;
  font-size: 20px;
  font-weight: 700;
  line-height: 0.9;
  text-transform: capitalize;
}

.pokemon-card .pokemon-card__title-block .pokemon-card__element {
  width: 100%;
  font-size: 14px;
}

.pokemon-card .pokemon-card__title-block .pokemon-card__hp {
  width: 30%;
  color: #fa4238;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
}

.pokemon-card .pokemon-card__image-block {
  width: 200px;
  height: 200px;
  border: 5px solid #fd0;
  position: relative;
  background: url("/img/pokemon-card/forest-background.jpg") #fff;
}

.pokemon-card .pokemon-card__image-block .pokemon-card__image {
  padding: 15px;
}

.pokemon-card .pokemon-card__description-block {
  padding: 10px 0;
}

.pokemon-card .pokemon-card__description-block .pokemon-card__description-title {
  font-weight: 700;
  font-size: 16px;
  color: #313131;
  padding: 0 0 5px 0;
}

.pokemon-card .pokemon-card__description-block .pokemon-card__stat-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pokemon-card .pokemon-card__description-block .pokemon-card__stat-block .pokemon-card__description-text {
  padding: 5px;
}

.pokemon-card .pokemon-card__description-block .pokemon-card__line {
  height: 2px;
  width: 100%;
  margin-top: 10px;
  background-color: #7d7f9e;
}

.pokemon-card .pokemon-card__side-images-block {
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 2px 0;
}

.pokemon-card .pokemon-card__side-images-block .pokemon-card__side-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pokemon-card .pokemon-card__side-images-block .pokemon-card__side-item p {
  font-size: 16px;
}

.pokemon-card .pokemon-card__side-images-block .pokemon-card__side-item p::first-letter {
  text-transform: uppercase;
}

.pokemon-list {
  width: 100%;
  height: 85vh;
  margin: 15px 0 15px;
  padding: 0 15px;
  border-radius: 20px;
  background-color: #fff;
  border: solid #fd0;
  border-width: 20px 15px;
  border-radius: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: list;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 50px auto 50px;
      grid-template-rows: 50px auto 50px;
}

.pokemon-list .pokemon-list__title {
  text-align: center;
  color: #313131;
  font-size: 22px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.pokemon-list .pokemon-list__block {
  padding: 15px;
  overflow-y: auto;
  background: url("/img/pokemon-list/yellow-bg.jpg");
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (30%)[3];
      grid-template-columns: repeat(3, 30%);
  -ms-grid-rows: (auto)[4];
      grid-template-rows: repeat(4, auto);
  justify-items: center;
  gap: 0 5%;
}

.pokemon-list .pokemon-list__block .pokemon-list__block-item {
  margin: 5px 0;
  height: auto;
  width: 100%;
  max-width: 300px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: 95px auto;
      grid-template-rows: 95px auto;
}

.pokemon-list .pokemon-list__block .pokemon-list__block-item:hover {
  cursor: pointer;
}

.pokemon-list .pokemon-list__block .pokemon-list__block-item .pokemon-list__item-image {
  -ms-grid-column-align: center;
      justify-self: center;
}

.pokemon-list .pokemon-list__block .pokemon-list__block-item .pokemon-list__item-description {
  text-transform: capitalize;
  background-color: #fff;
  border: 2px solid #7d7f9e;
  border-radius: 3px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pokemon-list .pokemon-list__block .pokemon-list__block-item .pokemon-list__item-description .pokemon-list__item-name {
  width: 100%;
  padding: 2px;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.pokemon-list .pokemon-list__block .pokemon-list__block-item .pokemon-list__item-description .pokemon-list__item-hp {
  width: 40%;
  color: #fa4238;
  padding: 2px;
  padding-bottom: 3px;
  text-align: left;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
}

.pokemon-list .pokemon-list__block .pokemon-list__block-item .pokemon-list__item-description .pokemon-list__item-element-block {
  width: 60%;
  background-color: #7d7f9e;
  border-top-left-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pokemon-list .pokemon-list__block .pokemon-list__block-item .pokemon-list__item-description .pokemon-list__item-element-block .pokemon-list__item-element {
  padding: 2px;
  text-align: center;
  color: #fff;
  font-weight: 300;
}

.pokemon-list .pokemon-list__counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pokemon-list .pokemon-list__counter .pokemon-list__page-counter {
  border: 1px solid #313131;
  width: 40px;
  text-align: center;
  color: #7d7f9e;
}

.footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: footer;
  height: 50px;
  border-radius: 20px 20px 0 0;
  background-color: #00d084;
}
