.pokemon-card {
    grid-area: card;
    justify-self: center;
    width: 270px;
    height: 525px;
    margin: 15px 0;
    padding: 5px 20px;
    background-color: #fff;
    border: solid $color-yellow;
    border-width: 20px 15px;
    border-radius: 20px;
    .pokemon-card__title-block {
        display: flex;
        justify-content: space-between;
        align-items: end;
        flex-wrap: wrap;
        padding-bottom: 5px;
        .pokemon-card__name, .pokemon-card__element {
            width: 70%;
            color: $color-header;
            font-size: 20px;
            font-weight: 700;
            line-height: 0.9;
            text-transform: capitalize;
        }
        .pokemon-card__element {
            width: 100%;
            font-size: 14px;
        }
        .pokemon-card__hp {
            width: 30%;
            color: $color-red;
            font-size: 20px;
            text-transform: uppercase;
            font-weight: 700;
        }
    }
    .pokemon-card__image-block {
        width: 200px;
        height: 200px;
        border: 5px solid $color-yellow;
        position: relative;
        background: url('/img/pokemon-card/forest-background.jpg') #fff;
        .pokemon-card__image {
            @extend %responsive-image;
            padding: 15px;
            
        }
    }
    .pokemon-card__description-block {
        padding: 10px 0;
        .pokemon-card__description-title {
            font-weight: 700;
            font-size: 16px;
            color: $color-header;
            padding: 0 0 5px 0;
        }
        .pokemon-card__stat-block {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            .pokemon-card__description-text {
                padding: 5px;
            }
        }
        .pokemon-card__line {
            height: 2px;
            width: 100%;
            margin-top: 10px;
            background-color: $color-text;
        }
    }
    .pokemon-card__side-images-block {
        height: 120px;
        display: flex;
        justify-content: space-around;
        padding: 2px 0;
        .pokemon-card__side-item {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            p {
                font-size: 16px;
                &::first-letter {
                    text-transform: uppercase;
                }
            }
            
        }
    }
}

@media (max-width: 1279px) {
    
}

@media (max-width: 1023px) {
    
}

@media (max-width: 767px) {
    .pokemon-card {
        border-width: 10px 7px;
        padding: 5px 10px;
        height: 490px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .pokemon-card__image-block {
            width: 220px;
            height: 220px;
        }
        .pokemon-card__description-block {
            padding: 10px 8px;
        }
    }
}

@media (max-width: 479px) {
    
}