.pokemon-list {
    width: 100%;
    height: 85vh;
    margin: 15px 0 15px;
    padding: 0 15px;
    border-radius: 20px;
    background-color: #fff;
    border: solid $color-yellow;
    border-width: 20px 15px;
    border-radius: 20px;

    display: grid;
    grid-area: list;
    grid-template-columns: 100%;
    grid-template-rows: 50px auto 50px;
    .pokemon-list__title {
        text-align: center;
        color: $color-header;
        font-size: 22px;
        align-self: center;
    }
    .pokemon-list__block {
        padding: 15px;
        overflow-y: auto;
        background: url('/img/pokemon-list/yellow-bg.jpg');
        display: grid;
        grid-template-columns: repeat(3, 30%);
        grid-template-rows: repeat(4, auto);
        justify-items: center;
        gap: 0 5%;
        .pokemon-list__block-item {
            margin: 5px 0;
            height: auto;
            width: 100%;

            display: grid;
            grid-template-columns: auto;
            grid-template-rows: 95px auto;
            &:hover {
                cursor: pointer;
            }
            .pokemon-list__item-image {
                justify-self: center;
            }
            .pokemon-list__item-description {
                text-transform: capitalize;
                background-color: #fff;
                border: 2px solid $color-text;
                border-radius: 3px;
                height: 50px;
                display: flex;
                flex-wrap: wrap;
                .pokemon-list__item-name {
                    width: 100%;
                    padding: 2px;
                    text-align: center;
                    align-self: center;
                }
                .pokemon-list__item-hp {
                    width: 30%;
                    color: $color-red;
                    padding: 2px;
                    padding-bottom: 3px;
                    text-align: left;
                    align-self: end;
                    text-transform: uppercase;
                    font-weight: 500;
                    font-size: 12px;
                }
                .pokemon-list__item-element-block {
                    width: 70%;
                    background-color: $color-text;
                    border-top-left-radius: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .pokemon-list__item-element {
                        padding: 2px;
                        text-align: center;
                        color: #fff;
                        font-weight: 300;
                    }
                }
            }
        }
    }
    .pokemon-list__counter {
    }
}
